body {
  font-family: sans-serif;
}
.order-type {
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.order-count {
  display: inline-block;
  border-radius: 5px;
  padding: 0.25rem;
  background: #ccc;
}

.order {
  font-weight: bold;
}
